*{
    margin: 0;
    padding: 0;
}

#washer-cont{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(205, 202, 202);
}

#washer-body{
    background-color: white;
    height: 400px;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}

#control-panel{
    width: 100%;
    height: 100px;
    background-color: grey;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#left-panel{
    width: 33%;
    height: 100%
}

#middle-panel{
    width: 33%;
    height: 100%;
    position: relative;
}

#dial{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#dial-top{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(171, 171, 171);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#dial-selects{
    width: 100%;
    height: 100%;
    position: relative
}

.dial-select{
    width: 15px;
    height: 2px;
    background-color: black;
}

#dial-select-1{
    position: absolute;
    top: 35%;
    left: 15px;
    transform: translateY(-50%) rotate(25deg);
}

#dial-select-2{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

#dial-select-3{
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%) rotate(-25deg);
}

#dial-select-4{
    position: absolute;
    right: 15px;
    top: 35%;
    transform: translateY(-50%) rotate(-25deg);
}

#dial-select-5{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

#dial-select-6{
    position: absolute;
    right: 15%;
    top: 65%;
    transform: translateY(-50%) rotate(25deg);
}

#right-panel{
    width: 33%;
    height: 100%;
}