*{
    margin: 0;
    padding: 0;
}

#washer-cont{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(205, 202, 202);
}

#washer-body{
    background-color: white;
    height: 400px;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}

#control-panel{
    width: 100%;
    height: 100px;
    background-color: grey;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#left-panel{
    width: 33%;
    height: 100%;
    position: relative;
}

.left-button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
}

#left-button-1{
    top: 25%;
    left: 20px;
}

#left-button-2{
    top: 25%;
    left: 40px
}

#left-button-3{
    top: 25%;
    left: 60px;
}

#left-handle{
    width: 50px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 20px;
    box-shadow: rgb(183, 183, 183) 2px 3px  inset
}

#middle-panel{
    width: 33%;
    height: 100%;
    position: relative;
}

#dial{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#dial-top{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(171, 171, 171);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#dial-selects{
    width: 100%;
    height: 100%;
    position: relative
}

.dial-select{
    width: 10px;
    height: 2px;
    background-color: black;
}

#dial-select-1{
    position: absolute;
    top: 35%;
    left: 20px;
    transform: translateY(-50%) rotate(25deg);
}

#dial-select-2{
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
}

#dial-select-3{
    position: absolute;
    top: 65%;
    left: 20px;
    transform: translateY(-50%) rotate(-25deg);
}

#dial-select-4{
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%) rotate(-25deg);
}

#dial-select-5{
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}

#dial-select-6{
    position: absolute;
    right: 20%;
    top: 65%;
    transform: translateY(-50%) rotate(25deg);
}

#right-panel{
    width: 33%;
    height: 100%;
}

#door{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgb(166, 166, 166);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#door-window{
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: blue;
}